.product{
    width: 400px;
    padding: 2px;
    border: 1px solid black;
    margin-bottom: 2px;
}

.singleproduct{
    width: 100%;
    text-align: center;
    padding: 2px;
    border: 1px solid black;
}

a{
    text-decoration: none;
    color: black;
}

.S{
    background-color: silver;
}

.SR{
   background-color: gold; 
}

.SSR{
    background-color: red;
}