.product{
    width: 400px;
    padding: 2px;
    border: 1px solid black;
    margin-bottom: 2px;
}

.singleproduct{
    width: 100%;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}

a{
    text-decoration: none;
    color: black;
}

.S{
    background-color: silver;
}

.SR{
   background-color: gold; 
}

.SSR{
    background-color: red;
}

a.back{
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    width: 50px;
    text-align: center;
    display: inline-block;
    background-color: rgb(178, 178, 255);
}